
.App {
  font-family: sans-serif;
}


.font-bold {
  font-weight: 700;
}

.font-xs {
  font-size: 14px;
}

.text-coffee {
  color: #2e1c06;
}

.custom-input {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  &:hover &__checkmark {
    background-color: #ddd;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__input:checked~&__checkmark {
    background-color: rgb(165, 136, 77);
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
 
  }
  &__input:checked~&__checkmark:after {
    display: block;
  }
}
